<VirtualHost *:80>
  ServerName inventory.local

  <LocationMatch "/(atlas|sites)">
      Require all granted
  </LocationMatch>

  Header set EVEENV 'local'

  SetEnv WWWNG_ENV local

  # WSGIDaemonProcess atlas processes=2 threads=5 user=dplagnt group=lapurd display-name=%{GROUP}
  WSGIDaemonProcess atlas python-path=/data/code/atlas:/home/dplagnt/atlas-python27-environment/lib/python2.7/site-packages processes=2 threads=5 user=dplagnt group=lapurd display-name=%{GROUP}
  WSGIScriptAlias /atlas /data/code/atlas/atlas.wsgi
  <Directory "/data/code/atlas">
      WSGIPassAuthorization On
      Require all granted
  </Directory>

  # WSGIDaemonProcess atlas processes=2 threads=5 user=dplagnt group=lapurd display-name=%{GROUP}
  WSGIDaemonProcess atlas python-path=/data/code/atlas:/home/dplagnt/atlas-python27-environment/lib/python2.7/site-packages processes=2 threads=5 user=dplagnt group=lapurd display-name=%{GROUP}
  WSGIScriptAlias /atlas /data/code/atlas/atlas.wsgi
  <Directory "/data/code/atlas">
      WSGIPassAuthorization On
      Require all granted
  </Directory>
</VirtualHost>
