DirectoryIndex index.php index.html

<VirtualHost *:80>
  ServerName express.local

  ##################################################################
  ### Tell the securepages module if we are an https request.
  ### Because SSL is terminated on the F5, the F5 is setting the
  ### X-Forwarded-Proto header to indicate SSL.
  SetEnvIf X-Forwarded-Proto https HTTPS=on
  ##################################################################

  SetEnv WWWNG_ENV {{ WWWNG_ENV }}
  SetEnv CU_CENTRAL_EVE https://{{ EVE_API_USER }}:{{ EVE_API_PW }}@eveuri/inventory/

  ErrorLog /data/log/httpd/express_error_log
  CustomLog /data/log/httpd/express_access_log combined env=!keepalivelog
  CustomLog /data/log/httpd/express_keepalive_log combined env=keepalivelog
  LogLevel info

  DocumentRoot /data/web/express
  <Directory "/data/web/express">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>

#<VirtualHost *:443>
#  ServerName express.local
#
#
#  SSLEngine on
#  SSLProtocol All -SSLv2 -SSLv3
#  SSLCertificateFile /etc/httpd/ssl/apache.crt
#  SSLCertificateKeyFile /etc/httpd/ssl/apache.key
#
#  DocumentRoot /data/web/express
#  <Directory "/data/web/express">
#    AllowOverride All
#    Options -Indexes FollowSymLinks
#    Order allow,deny
#    Allow from all
#  </Directory>
#</VirtualHost>
