<?php

$options['patch-file'] = '/data/code/profiles/express/express-current/patches.make';
$options['dslm_base'] = '/data/code';
$options['packages_base'] = '/data/code';
$options['cores_base'] = '/data/code/cores/drupal';
$options['profiles_base'] = '/data/code/profiles/express';
$options['variables']['env'] = 'local_dev';
