<?php

$options['patch-file'] = '/data/code/dslm_base/profiles/express/patches.make';
$options['dslm_base'] = '/data/atlas/code/';
$options['packages_base'] = '/data/atlas/code/';
$options['cores_base'] = '/data/atlas/code/cores/drupal';
$options['profiles_base'] = '/data/atlas/code/profiles/express';
$options['variables']['env'] = 'local_dev';
