<?php

$options['patch-file'] = '/data/code/dslm_base/profiles/express/patches.make';
$options['dslm_base'] = '/data/code/atlas_managed/';
$options['packages_base'] = '/data/code/atlas_managed/modules';
$options['cores_base'] = '/data/code/atlas_managed/cores/drupal';
$options['profiles_base'] = '/data/code/atlas_managed/profiles/express';
$options['variables']['env'] = 'local_dev';
