---
  - name: Install additional OS packages
    when: os == 'centos-6'
    become: yes
    yum:
        name: "{{ item }}"
        state: present
    with_items:
        - curl
        - php-posix
        - php-xml

  - name: Install additional OS packages
    when: os == 'centos-7'
    become: yes
    yum:
        name: "{{ item }}"
        state: present
    with_items:
        - php70u-json
        - php70u-posix
        - php70u-xml

  - name: Install Composer
    when: os == 'centos-6'
    become: yes
    shell: "curl -sS https://getcomposer.org/installer | php"
    args:
        creates: "/usr/local/bin/composer"

  - name: Run Composer installer
    when: os == 'centos-7'
    command: "php composer-installer.php"
    args:
        chdir: "/tmp"

  - name: Move Composer into globally-accessible location
    when: os == 'centos-6'
    become: yes
    shell: "mv composer.phar /usr/local/bin/composer"
    args:
        creates: "/usr/local/bin/composer"

  - name: Move Composer into globally-accessible location
    when: os == 'centos-7'
    become: yes
    shell: "mv /tmp/composer.phar /usr/local/bin/composer"
    args:
        creates: "/usr/local/bin/composer"

  - name: Clone Drush from GitHub
    git:
        repo: "https://github.com/drush-ops/drush.git"
        dest: "/usr/local/share/drush"
        version: "8.x"

  - name: Install Drush dependencies with Composer
    become: yes
    shell: "/usr/local/bin/composer install --prefer-source --no-interaction"
    args:
        chdir: "/usr/local/share/drush"
        creates: "/usr/local/share/drush/vendor/autoload.php"

  - name: Create drush symlink
    file:
        src: "/usr/local/share/drush/drush"
        dest: "/usr/bin/drush"
        state: link

  - name: Run drush to finish setting it up
    become: yes
    command: "drush"
    register: drush_result
    changed_when: "'Execute a drush command' not in drush_result.stdout"

  - name: Clone DSLM from drupal.org
    git:
        repo: "http://git.drupal.org/project/dslm.git"
        dest: "/usr/local/share/drush/commands/dslm"
        version: "manage-package"

  - name: Create ~/.drush
    file:
        path: "/home/osr_web_deploy/.drush"
        state: directory
        owner: osr_web_deploy

  - name: Create composer file for Patchfile and CodeSniffer
    become: yes
    become_user: osr_web_deploy
    template:
        src: "drush.composer.json.j2"
        dest: "/home/osr_web_deploy/composer.json"
        force: yes

  - name: Remove existing lock file
    become: yes
    file:
        path: "/home/osr_web_deploy/composer.lock"
        state: absent

  - name: Install packages via composer
    become: yes
    shell: "/usr/local/bin/composer install --no-interaction"
    args:
        chdir: "/home/osr_web_deploy"

  - name: Copy drushrc.php to VM to osr_web_deploy
    template:
      src: "drushrc.php.j2"
      dest: "/home/osr_web_deploy/.drush/drushrc.php"
      owner: osr_web_deploy
      force: yes

  - name: Install registry_rebuild
    when: os == 'centos-6'
    become: yes
    become_user: osr_web_deploy
    command: "drush dl registry_rebuild -y"

  - name: Link phpcs command
    file:
        dest: "/usr/bin/phpcs"
        src: "/home/osr_web_deploy/bin/phpcs"
        state: link

  - name: Add Drupal coding standards to PHP CodeSniffer
    become: yes
    command: "phpcs --config-set installed_paths /home/osr_web_deploy/modules/coder/coder_sniffer"

  - name: Set owner to osr_web_deploy
    file:
        path: "/home/osr_web_deploy/.drush"
        owner: osr_web_deploy
        group: osr_web_deploy
        state: directory
        recurse: yes
