# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# Don't put duplicate lines or lines starting with space in the history.
HISTCONTROL=ignoreboth

# append to the history file, don't overwrite it
shopt -s histappend

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=1000
HISTFILESIZE=2000

# Git info in the prompt
parse_git_branch() {
     git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

# For Drush
export PATH="$HOME/.composer/vendor/bin:$PATH"
alias drush6='/usr/local/share/drush/drush6/vendor/bin/drush'
alias drush7='/usr/local/share/drush/drush7/vendor/bin/drush'
#alias drush8='/usr/local/share/drush/drush8/vendor/bin/drush'

# Add RVM to PATH for scripting
export PATH="$PATH:$HOME/.rvm/bin"
[[ -r $rvm_path/scripts/completion ]] && . $rvm_path/scripts/completion
# This line MUST be last
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
