DirectoryIndex index.php index.html

<VirtualHost *:80>
  ServerName express.local

  SetEnvIf X-FORWARDED-PROTO https HTTPS=on
  SetEnv CU_CENTRAL_EVE https://{{ EVE_API_USER }}:{{ EVE_API_PW }}@eveuri/inventory/
  SetEnv WWWNG_ENV local-dev

  LogLevel info

  DocumentRoot /data/web/express
  <Directory "/data/web/express">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>

<VirtualHost *:443>
  ServerName express.local


  SSLEngine on
  SSLProtocol All -SSLv2 -SSLv3
  SSLCertificateFile /etc/httpd/ssl/apache.crt
  SSLCertificateKeyFile /etc/httpd/ssl/apache.key

  DocumentRoot /data/web/express
  <Directory "/data/web/express">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>
