DirectoryIndex index.php index.html

<VirtualHost *:80>
  ServerName express.local

  SetEnvIf X-FORWARDED-PROTO https HTTPS=off

  LogLevel info
  LogFormat "%{X-Forwarded-For}i %a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  LogFormat "%h %l %u %t \"%r\" %>s %b" common

  Alias /sysadmintools/ /usr/local/www.misc/sysadmintools/

  DocumentRoot /data/web/express
  <Directory "/data/web/express">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>

<VirtualHost *:81>
  ServerName express.local

  SetEnvIf X-FORWARDED-PROTO https HTTPS=off

  LogLevel info
  LogFormat "%{X-Forwarded-For}i %a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  LogFormat "%h %l %u %t \"%r\" %>s %b" common

  Alias /sysadmintools/ /usr/local/www.misc/sysadmintools/

  DocumentRoot /data/web/homepage
  <Directory "/data/web/homepage">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>

<VirtualHost express.local:443>
  ServerName express.local:443

  SSLEngine on
  SSLProtocol All -SSLv2 -SSLv3
  SSLCertificateFile /etc/httpd/ssl/apache.crt
  SSLCertificateKeyFile /etc/httpd/ssl/apache.key

  DocumentRoot /data/web/express
  <Directory "/data/web/express">
    AllowOverride All
    Options -Indexes FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>
