<?php
global $conf;

$path = '{{ path }}';
// TODO: Add back in when Inventory works
// $conf['cu_sid'] = 'p1ff4b409c2e';

$base_url .= '/' . $path;

$launched = FALSE;

$host = $_SERVER['HTTP_HOST'];

$databases = array (
  'default' => array (
    'default' => array (
      'database' => '{{ database }}',
      'username' => 'root',
      'password' => 'root',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);

// Define Varnish Server Pool
$conf['reverse_proxy_addresses'] = array('localhost',);
$conf['varnish_control_terminal'] = 'localhost:6082';

// Memcache
$conf['memcache_key_prefix'] = $path;
$conf['memcache_servers'] = array(
  'localhost:11212' => 'default',
);

// Define tmp directory
$conf['file_temporary_path'] = '/data/files/' . $path . '/tmp';
