<?php

$base_url = 'http://express.local/' . $path;

$databases = array (
  'default' => array (
    'default' => array (
      'database' => '{{ database }}',
      'username' => 'root',
      'password' => 'root',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
    ),
  ),
);

// Define Varnish Server Pool
$conf['reverse_proxy_addresses'] = array('localhost',);
$conf['varnish_control_terminal'] = 'localhost:6082';
$conf['varnish_control_key'] = substr(file_get_contents('/etc/varnish/secret'),0,-1);

// Memcache
$conf['memcache_key_prefix'] = $path;

// Define tmp directory
$conf['file_temporary_path'] = '/data/files/' . $path . '/tmp';
