---
# https://github.com/ansible/ansible/issues/12161
- name: Install Python packages so we can install Node from Cloudflare
  pip:
    name: "{{ item.name }}"
  with_items:
    - { name: 'urllib3'}
    - { name: 'pyopenssl'}
    - { name: 'ndg-httpsclient'}
    - { name: 'pyasn1'}

- name: Add Nodesource repositories for Node.js.
  yum:
    name: "http://rpm.nodesource.com/pub_0.12/el/6/x86_64/nodejs-0.12.15-1nodesource.el6.x86_64.rpm"
    state: present

- name: Ensure Node.js and npm are installed.
  yum:
    name: nodejs
    state: present

- name: Define nodejs_install_npm_user
  set_fact:
    nodejs_install_npm_user: osr_web_deploy
  when: nodejs_install_npm_user is not defined

- name: Create npm global directory
  file:
    path: "{{ npm_config_prefix }}"
    owner: osr_web_deploy
    group: osr_web_deploy
    state: directory

- name: Add npm_config_prefix bin directory to global $PATH.
  template:
    src: npm.sh.j2
    dest: /etc/profile.d/npm.sh
    mode: 0644

# TODO: Remove this task after Ansible 2.x npm module bug is fixed. See:
# https://github.com/ansible/ansible-modules-extras/issues/1375
- name: Ensure npm global packages are installed.
  npm:
    name: "{{ item.name }}"
    version: "{{ item.version | default('latest') }}"
    global: yes
    state: present
  environment:
    NPM_CONFIG_PREFIX: "{{ npm_config_prefix }}"
    NODE_PATH: "{{ npm_config_prefix }}/lib/node_modules"
    NPM_CONFIG_UNSAFE_PERM: "{{ npm_config_unsafe_perm }}"
  with_items: "{{ nodejs_npm_global_packages }}"

- name: Ensure npm global packages are at the latest release.
  npm:
    name: "{{ item.name }}"
    version: "{{ item.version | default('latest') }}"
    global: yes
    state: latest
  environment:
    NPM_CONFIG_PREFIX: "{{ npm_config_prefix }}"
    NODE_PATH: "{{ npm_config_prefix }}/lib/node_modules"
    NPM_CONFIG_UNSAFE_PERM: "{{ npm_config_unsafe_perm }}"
  with_items: "{{ nodejs_npm_global_packages }}"

- name: Clone Watchman repository
  git:
    repo: "https://github.com/facebook/watchman.git"
    dest: "/home/vagrant/watchman"
    version: "v4.6.0"
    accept_hostkey: yes

- name: Autogen Watchman
  shell: ./autogen.sh
  args:
    chdir: /home/vagrant/watchman

- name: Configure Watchman
  shell: ./configure
  args:
    chdir: /home/vagrant/watchman

- name: Make Watchman
  shell: make
  args:
    chdir: /home/vagrant/watchman

- name: Install Watchman
  shell: make install
  become: yes
  args:
    chdir: /home/vagrant/watchman

- name: Set correct number of watchers in sysctl
  sysctl:
    name: fs.inotify.max_user_watches
    value: 16384
