---
  # This playbook will be run on webservers for Express.
  - hosts: Web
    sudo: yes
    remote_user: vagrant

    tasks:
      # This should work too / #2372
      # - name: Pushes user key to root's on vagrant boxes
      #   action: authorized_key key=$FILE($item) user=root
      #   first_available_file:
      #     - ~/.ssh/id_dsa.pub
      #     - ~/.ssh/id_rsa.pub

      - name: Creates destination directory
        # Workaround for #2372
        file: state=directory mode=0700 dest=/root/.ssh/

      - name: Pushes user's rsa key to root's vagrant box (it's ok if this TASK fails)
        # action: authorized_key user=root key='$FILE(~/.ssh/id_rsa.pub)'
        # Workaround for #2372
        copy: src=~/.ssh/id_rsa.pub dest=/root/.ssh/authorized_keys owner=root mode=0600
        register: rsa
        ignore_errors: yes

      - name: Pushes user's dsa key to root's vagrant box (it's NOT ok if both TASKs fail)
        # action: authorized_key user=root key='$FILE(~/.ssh/id_dsa.pub)'
        # Workaround for #2372
        copy: src=~/.ssh/id_dsa.pub dest=/root/.ssh/authorized_keys owner=root mode=0600
        when: rsa|failed

  - hosts: web
    roles:
      - server_base
      - apache
      - php
      - mysql
      # - include: ../tasks/varnish.yml
      # - include: ../tasks/apc.yml
      # - include: ../tasks/memcache.yml
      # - include: ../tasks/xdebug.yml
      # - include: ../tasks/rvm.yml
      # - include: ../tasks/behat.yml
      # - include: ../tasks/logstash_forwarder.yml
      # - include: ../tasks/drush.yml
      # - include: ../tasks/express_code.yml
