# Need to set up ssh first
- hosts: all
  become: yes

  tasks:
    # This should work too / #2372
    # - name: Pushes user key to root's on vagrant boxes
    #   action: authorized_key key=$FILE($item) user=root
    #   first_available_file:
    #     - ~/.ssh/id_dsa.pub
    #     - ~/.ssh/id_rsa.pub

    - name: Install necessary OS packages
      yum:
        name: "{{ item }}"
        state: present
        update_cache: yes
      with_items:
        - libselinux-python

    - name: Creates destination directory
      # Workaround for #2372
      file:
        dest: "/root/.ssh/"
        state: directory
        mode: 0700

    - name: Pushes user's rsa key to root's vagrant box (it's ok if this TASK fails)
      # action: authorized_key user=root key='$FILE(~/.ssh/id_rsa.pub)'
      # Workaround for #2372
      copy:
        src: "~/.ssh/id_rsa.pub"
        dest: "/root/.ssh/authorized_keys"
        owner: root
        mode: 0600
      register: rsa
      ignore_errors: yes

    - name: Pushes user's dsa key to root's vagrant box (it's NOT ok if both TASKs fail)
      # action: authorized_key user=root key='$FILE(~/.ssh/id_dsa.pub)'
      # Workaround for #2372
      copy:
        src: "~/.ssh/id_dsa.pub"
        dest: "/root/.ssh/authorized_keys"
        owner: root
        mode: 0600
      when: rsa|failed
