# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# Add RVM to PATH for scripting
export PATH="$PATH:$HOME/.rvm/bin"
[[ -r $rvm_path/scripts/completion ]] && . $rvm_path/scripts/completion
# This line MUST be last
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
